@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@700&display=swap");
.bod {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRh3a89vdMttXClKogDxDYtiXBZh6YD1ntveg&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.bodyx {
 background-color: white;
}
